@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:active {
  opacity: 0.8;
}

.sticky-home-table thead {
  position: sticky;
  /* TODO: This is the height of the HomeScreen header bar. We shouldn't hardcode this and find a more elegant solution. */
  top: 5em;
  z-index: 20;
}

.no-webkit-callout {
  /* Disables popover-style context menus on iOS, which we need for our own long-press context menu implementation. */
  -webkit-touch-callout: none;
}
